@using Domain.Models;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>

@{
    ViewData["Title"] = "Sellers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get</h1>
<p>
    <a asp-action="CreateSeller">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Seller User Name
            </th>
            <th>
                Seller Email
            </th>
            <th>
                Seller Phone Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-action="ResetPassword" asp-route-id="@item.Id">ResetPassword</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
