@model Domain.ModelsDto.ProductDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameEn" class="control-label"></label>
                <input asp-for="NameEn" class="form-control" value="@Model.NameEn" />
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameAr" class="control-label"></label>
                <input asp-for="NameAr" class="form-control" value="@Model.NameAr" />
                <span asp-validation-for="NameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" value="@Model.Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" value="@Model.Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductImgPath" class="control-label"> Image Name :</label>
                <label asp-for="ProductImgPath" class="control-label">@Model.ProductImgPath</label>
            </div>
            <div class="form-group">
                <label asp-for="ProductImg" class="control-label"></label>
                <input asp-for="ProductImg" class="form-control" type="file" />
                <span asp-validation-for="ProductImg.FileName"></span> <span asp-validation-for="ProductImg.FileName"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InStock" value="@Model.InStock" /> @Html.DisplayNameFor(model => model.InStock)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "Id", "NameEn"))" value="@Model.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
